# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/triibe-client/node_modules
/triibe-client/.pnp
/triibe-client/.pnp.js
/triibe-server/node_modules
/triibe-server/.pnp
/triibe-server/.pnp.js

# testing
/triibe-client/coverage
/triibe-server/coverage

# production
/triibe-client/build
/triibe-server/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
/old

npm-debug.log*
yarn-debug.log*
yarn-error.log*
